body{
	margin: 0;
	background-color:hsl(348, 96%, 42%)
}


.backgroundleft{
  width: 31vw;
  height: 100vh;
  position:absolute;
  background-color:hsl(350, 73%, 44%);
 /* transition: opacity 5s;*/
  opacity: 1;
 
}
  
.backgroundright{
  width: 31vw;
  height: 100vh;
  position: absolute;
  right: 0vw;
  background-color:hsl(342, 100%, 42%);
  opacity: 1;
    
  }

.rect {
  float:left;
  width: 20px;
  height: 20px;
  background-color: #000;
  margin: 10px;
  margin-left: 0;
}
  
.rect2 {
  position:absolute;
  right: 0vw;
  width: 20px;
  height: 50px;
  background-color: #000;
  margin: 10px;
  margin-right: 0;
  z-index: 3;
}
  

second{
  background-color: black;
  width: 500px;
  height: 500px;
  
}
