/*index.html*/
body{
	margin:0;
	padding:0;
	text-align: center;
	font-family: helvetica;
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;

}


ul{
	list-style: none;
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: skyblue;
}


	/*colombia*/

.colombia div{
	margin:0;
	padding:0;


}
.colombia div.first{
	background-color:#FCD116;
	height: 50vh;
}
.colombia div.second{
	background-color:#003893;
	height: 25vh;
}
.colombia div.third{
	background-color:#CE1126;
	height: 25vh;
}

	/*Palau*/
.Palau div{
	width:100vw;
	height:100vh;
}
.Palaublock {
	background-color:#00BFFF;
	height: 100vh;
	width:100vw;
}
.circle {
	border:30px solid #FCD116;
	border-radius: 50%;
	padding: 200px;
	z-index: 10;
	position: absolute;
  	top: 15vh;
  	left: 25vw;
  	background-color:#FCD116;
}
	
	/*madagascar*/

.madagascar div {
	margin:0;
	padding:0;

}

.madagascar div.one {
    background-color: #FFFFFF;
    width: 25vw;
    height: 100vh;
    position:fixed;
    top:0;
    bottom:0;
}

.madagascar div.two {
	background-color: #FF0000;
	width:100vw;
	height:50vh;
}

.madagascar div.three{
	background-color: #006400;
	height:50vh;
	width:100vw;
}
	

  	
/*belgium*/

.belgium div{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
}

.belgium div.first{
	background-color:#000000;
    width: 100vw;
    height: 100vh;
    position:fixed;
    left:0vw;

}

.belgium div.second {
    background-color: #FFD700;
    width: 90vw;
	height:100vh;
	position:fixed;
	left: 70vh;
	z-index:1;
    
  
}

.belgium div.third {
    background-color: #FF0000;
    width: 50vw;
	height:100vh;
	position:fixed;
	left: 130vh;
	z-index:1;
   
    
}


/*sweden*/

.sweden div{
	margin: 0;
	padding:0;
	width: 100vw;
	height: 100vh;

}

.sweden div.first{
	background-color:#FFFF00;
	width: 10vw;
	height: 101vh;
	position: absolute;
	top: -1vh;
	right:75vw;
	z-index:1;
}

.sweden div.blue{
	background-color:#4682B4;
	width: 100vw;
	height: 100vh;
}




.sweden div.second{
	background-color:#FFFF00;
	width: 100vw;
	height: 15vh;
	position: absolute;
	bottom: 45vh;
	z-index:1;

}

/*tonga*/

.tonga div{
	margin:0;
	padding:0;


}
.tonga div.red{
	background-color:#FF0000;
	width:100vw;
	height:100vh;
}

.tonga div.white{
	background-color: #FFFFFF;
	width: 30vw;
	height: 40vh;
	position: absolute;
	top: -1vh;
	z-index:1;
}
.tonga div.onered{
	background-color:#FF0000;
	width: 8vw;
	height: 30vh;
	position: absolute;
	top: 5vh;
	left: 11vw;
	z-index:2;
}

.tonga div.twored{
	background-color:#FF0000;
	width: 21vw;
	height: 12vh;
	position: fixed;
	left: 4vw;
	top: 14vh;
	z-index:4;
}






/*float straegy with a width will put it together and then clear the float and rgith allign it 
colum make it flow to the left and giving the coloum a width 100/6 
and giving it a specifgic height in vh and vw 

