body {
  margin: 0;
  background-color:hsl(348, 96%, 42%)
}

.backgroundleft {
  width: 33.33vw;
  height: 100vh;
  position:absolute;
 background-color: hsl(348, 83%, 47%);
 
}
  
.backgroundright{
  width: 33.33vw;
  height: 100vh;
  position: absolute;
  right: 0vw;
 background-color:hsl(342, 100%, 42%);
 
}

.overlayleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;

}

.overlayright {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
 
}

.rect {
  height: 20px;
  background-color: hsl(345, 87%, 50%);
  margin: 20px 0;
  
}
  
.rect2 {
  min-height: 50px;
  background-color: hsl(347, 72%, 62%);
  margin: 10px 0;

}